{% extends 'baseBO.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <section class="home">
    <h1 class="title-h1">{{ title }}</h1>

    <h5>{{ sub }}</h5>

        <form action="/addPost" method="POST">
            <div class="form-group">
                {{ input|raw }}
                <small class="form-text text-muted">Choisissez bien le titre de votre post !</small>
            </div>
            <div class="form-group">
                {{ author|raw}}
            </div>
            <div class="form-group">
                {{ textarea|raw}}
            </div>

            <div class="form-group">
                <input type="hidden" name="user_id" value="1">
                {{ submit|raw }}
            </div>
        </form>


    </section>

{% endblock %}