{% extends 'baseBO.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <section class="home">
        <h1 class="title-h1">{{ title }}</h1>

        <h5>{{ sub }}</h5>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Status</th>
                <th scope="col">Auteur</th>
                <th scope="col">Action</th>
            </tr>
            </thead>

            <tbody>
            {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>{{ post.content | slice(0,200) }}</td>

                        <td class="status-icon">
                            {% if post.status == 1 %}
                                <i class="fas fa-check-circle"></i>

                                {% elseif post.status == 0 %}
                                    <i class="fas fa-edit"></i>

                            {% endif %}
                        </td>

                        <td>{{ post.pseudo }}</td>
                        <th>
                            <a href="/singlePostBack/{{ post.post_id }}" type="button" class="btn btn-primary">Afficher</a>
                        </th>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}