{% extends 'baseBO.html.twig' %}


{% block content %}

    <section class="home">
        <h1 class="title-h1">{{ title }}</h1>
        <span class="sub-title">{{ sub }}</span>

        <p>
            {{ user.pseudo }}
        </p>

        <p>
            {{ user.mail }}
        </p>

        <p>
            {{ session.user_id }}
        </p>

        <div class="update">
            <a href="/updatePostForm/{{ session.user_id }}" type="button" class="btn btn-primary">Modifier mon profil</a>
            <form action="/delete_user/{{ session.user_id }}">
                <button type="submit" class="btn btn-danger">Supprimer le profil</button>
            </form>
        </div>

    </section>

{% endblock %}