{% extends 'base-template.html.twig' %}

{% block title %} {{ name }} {% endblock %}

{#{% block header %}
    {% include('header-home.html.twig') %}
{% endblock %}#}

{% block content %}
    <section class="page-section contact-section" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Créer un compte utilisateur</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">Renseignez les informations ci-dessous pour créer votre compte et avoir accès à plus de contenu</p>
                </div>
            </div>
            <form class="contact-form">
                <div class="form-group">
                    {{ pseudo | raw}}
                </div>
                <div class="form-group">
                    {{ mail | raw }}
                </div>
                <div class="form-check">
                    {{ confirm_mail | raw }}
                </div>
                <div class="form-check">
                    {{ pass | raw }}
                </div>
                <div class="form-check">
                    {{ confirm_pass | raw }}
                </div>
                <div class="form-check">
                    {{ submit | raw }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}

